---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../componentes/LoginForm.jsx';
import '../styles/global.css';
---

<Layout title="Login - Barbershop Joker">
  <div class="min-h-screen flex items-center justify-center bg-zinc-950 px-4 sm:px-6 lg:px-8">
    <LoginForm client:load />
  </div>
</Layout>